body
{
	background-image: url('../img/fond.jpg');
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#global
{
	height: 600px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	color: white;
	text-align: center;
}

footer {
	text-align: center;
}